* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  /*font-size: 10px;*/
}

/* Block Elements */
.flex-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(98,9,121,1) 35%, rgba(0,212,255,1) 100%);
  overflow-y: auto;
  flex: 0 0 auto;
}

.form {
  display: flex;
  width: 80%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form__group {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  width: 100%
}

.form__item {
  padding: 0.5rem;
  margin: 0.5rem;
}


input[type="file"] {
  display: none;
}

.form__submit {
  background-color: rgba(255,255,255,0.8);
  border-radius: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 100%
  margin: auto;

  color: white;
}

.list__entry {
  margin: 0.5rem;
}


.list-group {
  margin: 1rem;
  font-size: 2rem;
}

.form-group {
  font-size: 2rem;
}
