<!-- TODO
  load local client side image for cropping and then just send final cropped image to server
  canvas sizing
  colour of rubber band rectangle
  do cropping
  try and make area outside of rectangle have a darker transparency?
  -->




{% extends "base.html" %}

{% block content %}
<button id="crop-button">Crop</button>
<canvas id="democanvas" width="1000", height="1000"></canvas>


<script>




  function cropImg(){
    const canvas = document.getElementById("democanvas");
    const ctx = canvas.getContext("2d");
    var isDrawing = false;
    var startX;
    var startY;
    var deltaX;
    var deltaY;
    var endX;
    var endY;
    var offsetX = canvas.offsetLeft;
    var offsetY = canvas.offsetTop;
    var ratio
    var hRatio
    var vRatio

    var image = new Image();
    image.src = "static/5.jpg"

    image.onload = function(){
      hRatio = canvas.width / image.width;
      vRatio = canvas.height / image.height;
      ratio = Math.min(hRatio,vRatio);
      ctx.drawImage(image,0,0,image.width,image.height,0,0,image.width*ratio,image.height*ratio);
    };
    canvas.onmousedown = (e) => {
      canvas.style.cursor = "crosshair"
      isDrawing = true;
      startX = parseInt(e.pageX - offsetX);
      startY = parseInt(e.pageY - offsetY);
    }

    canvas.onmouseup = (e) => {
      canvas.style.cursor = "default"
      isDrawing = false;

    }

    canvas.onmousemove = (e) => {
      if (isDrawing) {
        var mouseX = parseInt(e.pageX - offsetX);
        var mouseY = parseInt(e.pageY - offsetY);

        ctx.clearRect(0,0,canvas.width,canvas.height);
        ctx.drawImage(image,0,0,image.width,image.height,0,0,image.width*ratio,image.height*ratio);
        ctx.strokeStyle = "red";
        ctx.beginPath();
        endX = mouseX;
        endY = mouseY;
        deltaX = mouseX - startX;
        deltaY = mouseY - startY;
        ctx.rect(startX, startY, deltaX, deltaY);
        ctx.stroke();
        ctx.strokeText(mouseX,100,0)
        ctx.strokeText(mouseY,200,0)
      }
    }

    document.getElementById("crop-button").onclick = () => {
      console.log("crop function")
      cropWidth = (endX - startX)/hRatio;
      cropHeight = (endY - startY)/vRatio;
      var hCropRatio = canvas.width / cropWidth;
      var vCropRatio = canvas.height / cropHeight;
      cropRatio = Math.min(hCropRatio,vCropRatio);
    //  console.log(hCropRatio)
    //  console.log(vCropRatio)
    //  console.log(cropRatio)
      console.log(startX)
      console.log(startY)
      console.log(cropWidth)
      console.log(cropHeight)
      ctx.clearRect(0,0,canvas.width,canvas.height);
      ctx.drawImage(image,startX/hRatio,startY/vRatio,cropWidth,cropHeight,0,0,cropWidth*hRatio,cropHeight*vRatio);
    }






  };
  cropImg();


</script>

{% endblock %}
