{% extends "base.html" %}
{% block content %}
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
    <div class="form__group">
      <label id="file-upload-label" for="file-upload" class="form__item form__submit">
        Select File
      </label>
      {{ form.file(class_="form__item", id_="file-upload", onchange="previewImg()") }}
    <!--  {{ form.submit(class_="form__submit form__item", id="form-submit") }} -->
    </div>
    <button type="button" id="submit-image-button">Upload</button>
    <button type="button" id="crop-image-button">Crop</button>
  </form>
<canvas id="democanvas" width="1000", height="1000", hidden></canvas>
{% endblock %}
